* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  background-color: azure;
  border-radius: 30px;
  box-shadow: 12px 12px 27px;
  width: auto;
  height: 37.5rem;
}
img {
  width: 120%;
  height: 37.5rem;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.login h1 {
  font-size: 4 rem;
  font-weight: 300;
}
.inp {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -26px -19px 30px -19px rgba(0, 0, 0, 0.25);
}
.btn-1 {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 60px;
  font-weight: 600;
  background-color: rgb(133, 210, 8);
  color :aqua;
}
.login1{
    padding: 20px;
    font-size: 15px;

}

.fa-facebook{
    padding: 10px;
    margin: auto;
}
.fa-twitter{
    padding: 10px;
    margin: auto;
}
.fa-github{
    padding: 10px;
    margin: auto;
}
.fa-instagram{
    padding: 10px;
    margin: auto;
}
.fa-facebook:hover{
    color: rgb(29, 29, 179);
}
.fa-instagram:hover{
    color: rgb(219, 9, 111);
}
.fa-github:hover{
    color: rgb(125, 5, 217);
}
.fa-twitter:hover{
    color: rgb(62, 187, 249);
}